@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
*{
    font-family: 'Ubuntu Mono', monospace;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

